.heatmap-wrapper { 
    height:600px; 
    background:rgba(0,0,0,.03); 
    border:3px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}
.heatmap { 
    width:100%;
    height:100%; 
}

.movemap-wrapper {
    height:600px; 
    background:rgba(0,0,0,.03); 
    border:3px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}

.movemap {
    width:100%;
    height:100%; 
}

.map-controller{
    display:flex;
    align-items: center;
}

.map-controller > * {
    margin-right: 5px;
}

.show-hide{
    margin-left: 50px;
}